.dashContainer{
    display: flex;
}

.books{
    margin-left: 30px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}
.books > *{
    margin-left: 20px;
    margin-top: 20px;
}